

/* Global stuff */
.padDis{
padding: 7% 15%;

}

.centerAllign{
text-align: center;
}

body{
  font-family: "Roboto, sans-serif";
  line-height: 1.5rem;
  font-weight: 700;
}

/* Navbar */


.navPad{
padding: 1% 5%;

}
.navbar{

  font-family: "Marck Script";
  font-weight: 400;
}

.navbar-brand{
font-size: 1.5rem;
}
/* first section */


#intro{
background-image: linear-gradient(#9198e5,transparent),url("bgtester.jpg");
color: #fff;
background-size: cover;


}

/* church schedule */
#churchSchedule{
list-style-position: inside;
font-family: "Marck Script";
font-weight: 400;
background-color: #e5de91;
}
/* Photo edits */
.introPhoto{
  width: 100%;
  border-radius: 60px;
  border: 2px solid #555;
}

.caroPhoto{
  border-radius: 60px;
}



.glyphicon.glyphicon-chevron-right{
   color:red;
}

/* carousel */

#carousel{
background-color: #9198e5;
}


#footer{
background-color: #e5de91;
}


#footer .padDis{
padding: 5% 10% 5% ;

}
